/W1/PolymorphicSorting/build/
/W1/ColoringAMovableCircle/nbproject/private/
/W1/ColoringAMovableCircle/build/
/W1/SpeedControl/nbproject/private/
/W1/SearchingAndSortingInAnIntegerList/nbproject/private/