/W1/PolymorphicSorting/build/
/W1/ColoringAMovableCircle/nbproject/private/
/W1/ColoringAMovableCircle/build/
/W1/SpeedControl/nbproject/private/
/W1/SearchingAndSortingInAnIntegerList/nbproject/private/
/W2/ExceptionsAren'tAlwaysErrors/nbproject/private/
/W2/ExceptionsAren'tAlwaysErrors/build/
/W2/PlacingExceptionHandlers/nbproject/private/
/W2/PlacingExceptionHandlers/build/
/W2/ThrowingExceptions/nbproject/private/